/* NAVBAR */
.navbar-brand {
  color: white;
}
.navbar-brand.active {
  color: white;
}
.navbar-brand:hover {
  color: white;
}
.nav-link {
  color: rgba(153, 153, 153, 0.973) !important;
}
.nav-link:hover {
  color: wheat !important;
}
/* BANNER */
.banner {
  height: calc(100vh - 65px);
  background-image: url(./img/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner h4 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: purple;
}
.banner h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: purple;
}
.banner button {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

.circle {
  font-size: 3rem;
  display: inline-block;
  background-color: red;
  width: 150px;
  height: 150px;
  color: white;
  border-radius: 50%;
  position: relative;
}

.circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-img-top {
  height: 12rem;
}

.soup {
  /* background-image: url(./img/aboutus.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.team img {
  width: 200px;
  height: 200px;
  border: 5px solid gray;
  border-radius: 50%;
}
.noah {
  width: 200px;
  height: 200px;
  border: 5px solid gray;
  border-radius: 50%;
  color: white;
  background-color: #ef6c00;
  position: relative;
}

.noah {
  margin: auto;
}
.noah h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
}

.social_icons i {
  margin-right: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
}
.contact {
  background-image: url(./img/map.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem;
}

/********************** BUTTON **********/
.btn-up{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  width: 50px;
  height: 50px;
  background-color: red;
  text-align: center;
  border-radius: 50%;
  transition: all 1s;
}

.btn-up:hover{
  color: aqua;
}

.btn-up:hover{
  transform: scale(1.2);
}
